@font-face {
    font-family: 'CustomFont-Light';
    src: url('./font/Rajdhani-Light.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'CustomFont-Medium';
    src: url('./font/Rajdhani-Medium.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'CustomFont-Regular';
    src: url('./font/Rajdhani-Regular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'CustomFont-SemiBold';
    src: url('./font/Rajdhani-SemiBold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'CustomFont-Bold';
    src: url('./font/Rajdhani-Bold.ttf') format('truetype');
  }
  
  .fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s forwards;
  }
  
  @keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }
  
  body {
    font-family: 'CustomFont-Medium', sans-serif;
  }
  
  .container {
    background: radial-gradient(ellipse farthest-corner at center,
        #fff29f 0%,
        #fdfcfc 100%);
    width: 100vw;
    min-height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 16px;
    padding-bottom: 64px;
  }
  
  .logo-section {
    display: flex;
    justify-content: center;
  }
  
  .logo-section img {
    width: 200px;
    height: 200px;
  }
  
  .intro-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .main-image {
    flex: 1;
    justify-content: center;
    display: flex;
    display: none;
  }
  
  .main-image img {
    width: 200px;
    height: 200px;
    display: none;
  }
  
  .about-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-section {
    height: auto;
    width: 50%;
  }
  
  .testimonial-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .testimonial-header {
    text-align: center;
    font-family: "CustomFont-SemiBold";
  }
  
  .testimonial {
    width: 50%;
    font-style: italic;
    text-align: center;
  }
  
  .client-info {
    text-align: end;
  }
  
  .socail-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .social-media-header {
    font-family: "CustomFont-SemiBold";
  }
  
  .social-media-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .social-logo {
    height: 24px;
    width: 24px;
  }
  
  .social-link {
    margin-left: 8px;
    margin-right: 16px;
    text-align: center;
    color: blue;
    text-decoration: underline;
    transition: color 0.3s;
  }
  
  .social-link:hover {
    color: red;
    text-decoration: none;
    background-color: yellow;
    border-radius: 4px;
  }