---
// src/pages/index.astro
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import TulaaFeatures from "../components/TulaaFeatures.astro";
import Reviews from "../components/Reviews.astro";
import VideoCarousel from "../components/VideoCarousel.astro";
import SocialFooter from "../components/SocialFooter.astro";
---

<Layout
	title="YogaWithLatika | Online Yoga Therapy for PCOS, Prenatal & Back Pain"
>
	<Nav />

	<main class="container">
		<Hero />
		<TulaaFeatures />
		<Reviews />
		<VideoCarousel />
		<SocialFooter />
	</main>
</Layout>
